.jumbotron-blue
	background-color: #AED3F2
.jumbotron-gris
  background-color: #F6F6F6
.jumbotron-cafe
  background-color: #F2E9E4
.jumbotron-white 
  background-color: #FFF
.text-black 
  color: #000000
.pasos-a.color-acento-contenido .pasos-a__circle div
  color: #FFF !important 
.pasos-a.color-secundario .pasos-a__circle div
  color: #FFF !important 
.th-1
	background-color: #D9A171
	color: white
.color-tarjeta
  background-color: #5E6178
.color-comillas
  color: #FF4A69
  
